{
    "extends": ["stylelint-config-standard", "stylelint-config-recess-order"],
    "customSyntax": "postcss-styled-syntax",
    "rules": {
        "unit-disallowed-list": ["dvh", "lvh", "svh"],
        "declaration-block-no-redundant-longhand-properties": [
            true,
            { "ignoreShorthands": ["background"] }
        ],
        "selector-class-pattern": ["", {}],
        "media-feature-range-notation": null
    }
}
